body{
    margin: 0;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    z-index: 1;
}
.head-clear{
    width: 100%;
    height: 100px;
}
.logotrangchu{
    position: absolute;
    width: 75px;
    height: 80px;
    left: 20px;
    z-index: 10;
    border-radius: 50%;
}
header h1{
    position: absolute;
    width: 20%;
    height: 80px;
    left: 100px;
    top: 0px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    
}
.menutc{
    float: left;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
.menutc a{
    text-decoration: none;
    color: white;
    line-height: 40px;
    padding: 5px 10px;
    font-family: Times New Roman;
    top:20px;
}
.menutc a:hover{
    background-color: rgb(132, 16, 204);
    color: white;
    border-radius: 4px;
}




.row{
    float: left;
    width: 100%;
    margin: 5px 0;
    
}
.row2{
    float: left;
    width: 20%;
    margin: 5px 0;
}
.chitiet-hinh{
    float: left;
    margin-left: 15px;
    width: calc(50% - 15px);
    min-height: 20px;
}
.lon{
    float: left;
    width: calc(80% - 20px);
    min-height: 100px;
}
.lon img{
    width: 100%;
}
.nho1{
    float: left;
    width: calc(100% - 20px);
    margin: 5px;
    height: 120px;
    border: 1px solid red;
    padding: 6px;
}
.nho1 img{
    width: 100%;
    height: 100%;
}
.chitiet{
    float: left;
    width: 50%;
    min-height: 730px;
}
.chitiet h1, p{
    margin-left: 20px;
    margin-right: 5px;
}



/* 
.chitiet-hinh{
    float: left;
    margin-left: 15px;
    width: calc(50% - 15px);
    min-height: 20px;
}
.lon{
    float: left;
    width: 100%;
    min-height: 100px;
}
.lon img{
    width: 100%;
}
.nho1{
    float: left;
    width: calc(25% - 20px);
    margin: 5px;
    height: 120px;
    border: 1px solid red;
    padding: 6px;
}
.nho1 img{
    width: 100%;
    height: 100%;
}
.chitiet{
    float: left;
    width: 50%;
    min-height: 730px;
}
.chitiet h1, p{
    margin-left: 20px;
    margin-right: 5px;
} */










footer{
    float: left;
    margin: 5px;
    border-radius: 5px;
    width: calc(100% - 10px);
    min-height: 200px;
    background-color: rgb(223, 204, 241);
}